
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');


/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* -------------------- ROOT VARIABLES --------------------------------------- */
body {
    font-family: 'Habibi', sans-serif;
    font-size: 1.25em; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Irish Grover', cursive;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-family: 'Habibi', sans-serif;
    font-size: 1.75em;
}

h3  p{
    font-size: 1.25em;
}

.menu nav ul {
    padding: 0;
    margin: 20px;
}

ul {
    list-style: none;
}

.menu li {
    margin: 10px 0;
}
.top-page {
    background-color: #06A816;
    color: white;
    text-align: center;

}



.menu nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-menu {
    display:block;
    background-color: #E75D02;
    color: white;
    width: 250px;
    padding: 5px 50px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
    margin: 0 auto;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
        position: relative;
        bottom: 150px;
        left: 100px;
        width: 60%;
        background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 1.2em;
        font-weight: bold;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
}

/* Footer styling */
footer {
    background-color: #06A816;
    color: white;
    padding: 20px;
    text-align: center;
}

footer address, footer aside {
    font-size: 1em;
    margin-bottom: 10px;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media (max-width: 428px) {
   

    .menu {
        display: grid;
        align-items:center;
        justify-content: center;

    }
    .nav-menu {
        padding: 8px;
        font-size: 1em;
    }
    figcaption {
        font-size: 1em;
    }
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media (min-width: 834px) {
      
        
        
        .menu  ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 25px;
        }
    
        .fruits {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
        }
 
        .fruits h2 {
            grid-column: 1 / -1; 
           
          font-size: 1.5em; 
           margin-bottom: 50px;
           
       }
       
       .fruits p {
        grid-column: 1 / -1;
           margin-bottom: 50px;
       }
       .fruits h3 {
           grid-column: 1 / -1; /* Span across both columns */
            text-align: center;
           font-size: 1.5em; /* Adjust font size if needed */
           margin-bottom: 50px;
        
       }
       
       .vegetables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    
        }

        .vegetables h2 {
            grid-column: 1 / -1; /* Span across both columns */
       
         font-size: 1.5em; /* Adjust font size if needed */
         margin-bottom: 50px;
       
    }
   
        .vegetables p {
            grid-column: 1 / -1; 
        margin-bottom: 50px;
    }
   
        .vegetables h3 {
       grid-column: 1 / -1; /* Span across both columns */
        text-align: center;
       font-size: 1.5em; /* Adjust font size if needed */
       margin-bottom: 50px;
        }

        /* .fruits .item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row: 3 / span 18;
            gap: 20px; 
        } */
    
        .item img {
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 5px; 
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

        #copyright {
            display: grid;
            grid-column: 1 / -1;
            text-align: center;
            align-items: center;
        }
}
    
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 1280px) {
    .top-page .menu ul {
        grid-row: 1;
        justify-content: left;
    }

    .fruits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .vegetables {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/*-------------------- MEDIA QUERY (xl) ------------------------------------*/
@media (min-width:1440px) {

    .fruits {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .vegetables {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    
}